
 .card-img-top{
  height: 175px;
  width: 175px;
}

.sean-blog-card-title{
  text-align: center;
  font-weight: 900;
  color: $primaryMid;
}


.workPostImg{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
  position: absolute;
  margin-top: 10px;
}

.blog-card-row{
    _margin-right: 3rem;
    margin-bottom: 2.5%;
    padding: 0;
}

.blog-card {
  border-radius: 2px;
  min-height: 240px;
  display: inline-block;
  width: 95%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.blog-pg-card{
  @extend .blog-card;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.blog-card:hover {
  box-shadow: 0 6px 6px $primaryLightGrey, 0 6px 9px $primaryLightGrey;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@media only screen and (max-width : 550px) {

  .blog-pg-card{
    margin-left: 0%;
    margin: 2% 2%;
  }

    #blogPageHeader {
      margin-top: 20%;
    }
}


  