
 .card-img-top{
  height: 175px;
  width: 175px;
}

.sean-blog-card-title{
  text-align: center;
  font-weight: 900;
}

.workPostImg{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
  position: absolute;
  margin-top: 10px;
}

.blog-card-row{
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    padding: 0;
}
.blog-card {
  border-radius: 2px;
  min-height: 240px;
  display: inline-block;
  margin: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.blog-card:hover {
  box-shadow: 0 6px 6px $primaryLightGrey, 0 6px 9px $primaryLightGrey;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@media only screen and (max-width : 550px) {
    #blogPageHeader {
      margin-top: 20%;
    }
}


  