//color/ui color variables
$white: #ececec;
$colorPrimary: $primaryLightGrey;
$colorSecondary: $primaryDarkGrey;
$cubic-bezier:cubic-bezier(0.68, -0.55, 0.265, 1.55);

//split button mixin

.btn-home-hide{
	opacity: 0;
	visibility: hidden;
}

.btn-home-show{
	opacity: 1;
	visibility: visible;
	transition: visibility 3.5s, opacity 3.5s linear;
}

.btn-loading-home-page {
	color: $secondaryLight;
	width: 350px;
	position: absolute;
	left: 40%;//45%;
	bottom: -100%;//0;
	letter-spacing: 0.15em;
	margin: 0 auto;
	padding: 1rem 2.5rem;
	background: transparent;
	outline: none;
	font-size: 38px;
	transition: all 0.5s $cubic-bezier 0.15s;
	&::after,
	&::before {
		content: "";
		position: absolute;
		height: 40%;
		width: 10%;
		transition: all 0.5s $cubic-bezier;
		z-index: -2;
		border-radius: 50%;
		//animation: grow 1s infinite;
	}
	&::before {
		background-color: $colorPrimary;
		top: -0.75rem;
		left: 0.5rem;
		animation: top 2s $cubic-bezier 0.25s infinite alternate;
	}
	&::after {
		background-color: $colorSecondary;
		top: 3rem;
		left: 13rem;
		animation: bottom 2s $cubic-bezier 0.5s infinite alternate;
	}
}	


@mixin btn__split($foregroundColor, $backgroundColor, $textColor) {
	.btn-home-page {
		color: $secondaryLight;
		//display: block;
		width: 350px;
		position: absolute;
		left: 25%;//45%;
		bottom: 50%;//0;
		letter-spacing: 0.15em;
		margin: 0 auto;
		padding: 1rem 2.5rem;
		background: transparent;
		outline: none;
		font-size: 38px;
		transition: all 0.5s $cubic-bezier 0.15s;
		&::after,
		&::before {
			content: "";
			position: absolute;
			height: 40%;
			width: 10%;
			transition: all 0.5s $cubic-bezier;
			z-index: -2;
			border-radius: 50%;
			//animation: grow 1s infinite;
		}
		a {
			display: flex;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
		}
		&::before {
			background-color: $backgroundColor;
			top: -0.75rem;
			left: 0.5rem;
			animation: top 2s $cubic-bezier 0.25s infinite alternate;
		}
		&::after {
			background-color: $foregroundColor;
			top: 3rem;
			left: 13rem;
			animation: bottom 2s $cubic-bezier 0.5s infinite alternate;
		}
		&:hover {
			color: $secondaryDark;
			&::before,
			&::after {
				top: 0;
				//transform: skewx(-10deg);
				height: 100%;
				width: 100%;
				border-radius: 0;
				animation: none;
			}
			&::after {
				left: 0rem;
			}
			&::before {
				top: 0.5rem;
				left: 0.35rem;
			}
		}
	}
	@media only screen and (max-width : 550px) {
		.btn-home-page{
			bottom: 35%;
		}
	}
}



*{
	box-sizing:border-box;
}
@keyframes top{
	from{
		transform: translate(0rem, 0);
	}
	to {
		transform: translate(0rem, 3.5rem);
	}
}
@keyframes bottom{
	from{
		transform: translate(-11.5rem, 0);
	}
	to{
		transform: translate(0rem, 0);
	}
}

@include btn__split($colorPrimary, $colorSecondary, $black);
