hr.contactFormLine{
	border-top: 1px solid $white;
	margin-bottom: 0px;
}

footer{
	background-image: url("./images/oct-footer2.png");
	background-position: right; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 400px 140px;
	background-color: #35465F;
}

