
$header-sm-height: 11vh;
$header-lg-height: 100vh;
$header-bg: $primary;
$menu-width: 250px!default;


#large-header{
    display: none;
}

header.lg-header-height {
    height: $header-lg-height;
}

header.sm-header-height {
    height: $header-sm-height;
    _background: green;
}

.lg-header-margin{
    margin-top: $header-lg-height; 
}

.sm-header-margin{
    margin-top: $header-sm-height; 
}

.lg-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
  
header {
    top: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: url("./images/sean-astrakhan.png");
}

.bgbg-primaryDark{
    background: $primaryDark;
    background: darken(saturate(rgba($primaryDark, 0.85), 15%), 10%);
}

header,
.lg-header
// nav,
// a,
// img,
// li 
{
	transition: .6s all;
	-moz-transition: .6s all;
	-webkit-transition: .6s all;
	-o-transition: .6s all;
}

.sean-logo{
    height: 65px;
}

//Where is this used
.header__logo {
    font-weight: 700;
    padding: 0 25px;
    float: left;
}

.navHide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .75s linear;    
}

.navShow {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity .75s linear;    
}

//May not need items below if not using custom menu
// .custom-menu-class ul {
//     padding-left: 0;
//     list-style: none;
// }

// .custom-menu-class ul li {
//     display: inline-block;
//     font-size: 2.5vh;
//     color: white;
// }

// .custom-menu-class ul li:not(:last-child) {
//     margin-right: 0.5rem;
// }
