#home-banner{
    font-style: italic;
    text-align: center;
    color: $primaryDarkGrey;
    font-family: 'Noto Serit';
    font-size: 150%;
}

#home-quote{
    font-size: 16px;
    color: lightgray;
}

     
#project-list .nav-link.active {
    color: inherit;  
    border-color: $primaryDark $primaryDark transparent;    
    background-color: lighten( $primaryLight, 30% );
    border-top: 5px solid $primaryDark;
}

#project-list .nav-link {
    color: $primaryDarkGrey;  
    border-color: $primaryLightGrey $primaryLightGrey transparent;   
    min-height: 136px; 
    border-top: 5px solid $primaryLightGrey;
}

#project-list {
    border-bottom: 1px solid $primaryDark;
}

.flex-260{
    -ms-flex: 0 0 635px;
    flex: 0 0 635px;
}

.btn-resume {
    color: $secondaryLight;
    letter-spacing: 1px;
    border: 2px solid $secondaryLight;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-resume.btn a {
    color: $secondaryLight;
    font-size: 110%;
    &:hover {
        color:#fff;
    }
}
  
.btn-resume:hover {
    color: #FFF;
    background: $secondaryLight;
}

.btn-resume-footer{
    @extend .btn-resume;
    color: inherit;
    border: none;
}

.seanBtnPadding{
    padding: .5%;
    font-size: 90%;
}

.bdcp-image{
    background-image: url("./images/bdcp.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
}

.card-img-top{
    height: 175px;
    width: 175px;
}

.sean-blog-card-title{
    text-align: center;
    font-weight: 900;
  }
  
  .workPostImg{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
    position: absolute;
    margin-top: 10px;
  }

  .blog-card {
    border-radius: 2px;
    min-height: 240px;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .blog-card:hover {
    box-shadow: 0 6px 6px $secondaryLight, 0 6px 9px $secondaryLight;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.volunteerCardText{
    position: absolute; 
    top: 120px; 
    margin-left: 15px;
    color: #fff;
}

.code4bmore-image{
    @extend .bdcp-image;
    background-image: url("./images/sean-astrakhan-codebmore.png");
}
.darken-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

.wrapper {
    display: inline-block;
    position: relative;
    max-height: 50%;
}

.wrapper > .circle {
    position: absolute;
    border: 3px solid $primaryMid;
    width: 85%;
    height: 50%;
    top: 50%;
    margin-top: -60%;
    _left: 50%;
    margin-left: 40%;
    border-radius: 100%;
}



// #project-list .nav-link{
 
//     _border-color: $primaryLightGrey;
     
// }
     
// #project-list .nav-link.active {
    
//     _background-color: $primaryLightGrey;
//     _color: white !important;
        
// }

.tab-content{
    background-color: lighten( $primaryLight, 30% );
    width: 101.5%;
}
