.page-banner{
    font-style: italic;
    text-align: center;
    color: $primaryDarkGrey;
    font-family: 'Noto Serit';
    font-size: 150%;
    _text-transform: uppercase;
}

#home-quote{
    font-size: 16px;
    color: lightgray;
}


#project-list {
    border-bottom: 1px solid $primaryDark;
    width: 104%;
}
     
#project-list .nav-link.active {
    color: inherit;  
    border-color: $primaryDark $primaryDark transparent;    
    background-color: lighten( $primaryLight, 30% );
    border-top: 5px solid $primaryDark;
}

#project-list .nav-link {
    color: $primaryDarkGrey;  
    border-color: $primaryLightGrey $primaryLightGrey transparent;   
    min-height: 148px; 
    border-top: 5px solid $primaryLightGrey;
}

.nav-item-l{
    padding-left: 0px;
    padding-right: 8px;
}
.nav-item-r{
    padding-left: 8px;
    padding-right: 0px;
}

.flex-260{
    -ms-flex: 0 0 635px;
    flex: 0 0 635px;
}

.btn-resume {
    color: $secondaryLight;
    letter-spacing: 1px;
    border: 2px solid $secondaryLight;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
    width: 200%;
    margin-left: -48%;
}

.btn-resume.btn a {
    color: $secondaryLight;
    font-size: 120%;
    &:hover {
        color:#fff;
    }
}
  
.btn-resume:hover {
    color: #FFF;
    background: $secondaryLight;
}

.btn-resume-footer{
    @extend .btn-resume;
    color: inherit;
    border: none;
    width: 0%;
}

.btn-resume-footer:hover{
    background:#35465F !important;
}

footer .btn-resume{
    border: none;
    color: $primaryLightGrey;
    position: absolute;
    margin-left: 5%;
    font-size: 110%;
}

.seanBtnPadding{
    padding: .5%;
    font-size: 90%;
    color: white;
}


.volunteerCardText{
    position: absolute; 
    top: 120px; 
    margin-left: 15px;
    color: #fff;
}
.bdcp-image{
    background-image: url("./images/bdcp2.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
}

.code4bmore-image{
    @extend .bdcp-image;
    background-image: url("./images/codebmore.png");
}
.darken-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

.wrapper {
    display: inline-block;
    position: relative;
    max-height: 50%;
}

.wrapper > .circle {
    position: absolute;
    border: 3px solid $primaryVeryLight;
    width: 100px;
    height: 100px;
    top: 50%;
    margin-top: -60%;
    _margin-left: 40%;
    border-radius: 100%;
}

.skillsTab{
    margin-left: 5px;
    margin-right: 5px;
}

#myTabContent{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 3%;
    padding-left: 6%;
    width: 104%;
    border-left: .5px solid #2c2c54;
    border-right: .5px solid #2c2c54;
    border-bottom: .5px solid #2c2c54;
}

.blog-home-date{
    margin-top: -5%;
    margin-right: 5%;
    font-size: 80%;
}

.card-title-shrink{
    color: $primaryMid;
}

.card-title-shrink:hover{
    color: $secondaryDark;
}

.mention-img{
    width: 40%;
}

.extend-footer{
    padding-bottom:  5%;
    padding-top: 2%;
    margin-bottom: -8%;
}

#xkcd{
    height: 300px;
    margin-top: -53px;
    margin-right: 20px;
}

#xkcdRef{
    margin-top: -14%;
    text-align: right;
    width: 100%;
    margin-right: 20px;
    font-size: 75%;
}

@media only screen and (max-width: 990px){
    .tablet-90-width{
        max-width: 90%;
    }

    #xkcd{
        height: 217px;
        margin-top: -70px;
    }
}


@media only screen and (max-width : 550px) {
    .tablet-90-width{
        max-width: 100%;
    }

    #secondQuote{
        text-align: center;
    }
    .card-title-shrink{
        font-size: 125%;
      }

    .skillsList h2{
        font-size: 175%;
    }

    .skillsList li{
        font-size: 90%;
    }

    .nav-link{
        padding: 0%;
    }

    .wrapper > .circle {
        width: 75px;
        height: 75px;
    }
    #project-list {
        width: 108%;
    }

    #myTabContent{
        width: 108%;
    }

    #project-list .nav-link{
        min-height: 100px;
    }

    .toggleDisplayMobile{
        display: inline;
    }
}

@media only screen and (max-width : 775px) {
    .toggleDisplayMobile{
        display: none;
    }

    #myTabContent{
        _margin-left: -5%;
        margin-right: 0%;
        padding: 5%;
        padding-left: 10%;
        padding-right: 3%;
    }
    .nav-link{
        padding-bottom: 0%;
    }

    .nav-item{
        margin-bottom: -2px;
    }


    .card-img-top{
        height: 125px;
        width: 125px;
    }
    .blog-card-row{
      margin-right: 1rem;
      _margin-bottom: -.75rem;
    }
    .blog-card {
        min-height: 140px;
        width: 100%
    }
    .skillsList{
        padding: 0%;
        padding-left: 2%;
        h2{
    
        }
        ul{
            padding: 0;
        }
        li{
            float: left; 
            list-style-type: none;
        }
        li:after {
            content: ", ";
        }
        li:last-child:after {
            content: "";
        }
        li:not(:first-child){
            padding-left: 5%;
        }
    }
    .wrapper > .circle {
        position: absolute;
        border: 3px solid $primaryMid;
        top: 50%;
        margin-top: -100%;
        margin-left: 0%;
        border-radius: 100%;
    }

    #homeTopQuote{
        margin-top: 5%;
    }

    .btn-resume{
        margin-bottom: 5%;
    }
}

.tab-content{
    background-color: lighten( $primaryLight, 30% );
    width: 101.5%;
}

//*All below so IE display descently*//
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .darken-overlay {
        height: 50% !important;
      }
    .row-IE{
        display: inline !important;
        margin-left: 0%;
        margin-bottom: 3%;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .darken-overlay {
        height: 50%;
      }
    .row-IE{
        display: inline !important;
        margin-left: 0%;
        margin-bottom: 3%;
    }

    .IE-display-none{
        display: none;
    }
}

@supports (-ms-ime-align:auto){
    .darken-overlay {
        height: 50%;
      }
}