.page-banner{
    font-style: italic;
    text-align: center;
    color: $primaryDarkGrey;
    font-family: 'Noto Serit';
    font-size: 150%;
    text-transform: uppercase;
}

#home-quote{
    font-size: 16px;
    color: lightgray;
}


#project-list {
    border-bottom: 1px solid $primaryDark;
    width: 104%;
}
     
#project-list .nav-link.active {
    color: inherit;  
    border-color: $primaryDark $primaryDark transparent;    
    background-color: lighten( $primaryLight, 30% );
    border-top: 5px solid $primaryDark;
}

#project-list .nav-link {
    color: $primaryDarkGrey;  
    border-color: $primaryLightGrey $primaryLightGrey transparent;   
    min-height: 136px; 
    border-top: 5px solid $primaryLightGrey;
}

.nav-item-l{
    padding-left: 0px;
    padding-right: 8px;
}
.nav-item-r{
    padding-left: 8px;
    padding-right: 0px;
}

.flex-260{
    -ms-flex: 0 0 635px;
    flex: 0 0 635px;
}

.btn-resume {
    color: $secondaryLight;
    letter-spacing: 1px;
    border: 2px solid $secondaryLight;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-resume.btn a {
    color: $secondaryLight;
    font-size: 110%;
    &:hover {
        color:#fff;
    }
}
  
.btn-resume:hover {
    color: #FFF;
    background: $secondaryLight;
}

.btn-resume-footer{
    @extend .btn-resume;
    color: inherit;
    border: none;
}

.seanBtnPadding{
    padding: .5%;
    font-size: 90%;
    color: white;
}


.volunteerCardText{
    position: absolute; 
    top: 120px; 
    margin-left: 15px;
    color: #fff;
}
.bdcp-image{
    background-image: url("./images/bdcp2.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
}

.code4bmore-image{
    @extend .bdcp-image;
    background-image: url("./images/codebmore.png");
}
.darken-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

.wrapper {
    display: inline-block;
    position: relative;
    max-height: 50%;
}

.wrapper > .circle {
    position: absolute;
    border: 3px solid $primaryMid;
    width: 100px;
    height: 100px;
    top: 50%;
    margin-top: -60%;
    _left: 50%;
    margin-left: 40%;
    border-radius: 100%;
}

.skillsTab{
    margin-left: 5px;
    margin-right: 5px;
}

#myTabContent{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 3%;
    width: 104%;
}
@media only screen and (max-width : 550px) {
    .nav-link{
        padding: 0%;
    }
}

@media only screen and (max-width : 775px) {
    #myTabContent{
        margin-left: -5%;
        margin-right: 0%;
        padding: 0%;
        width: 110%;
        padding-left: 6%;
        padding-right: 3%;
    }
    .nav-link{
        padding-bottom: 0%;
    }

    .card-img-top{
        height: 125px;
        width: 125px;
    }
    .blog-card-row{
      margin-right: 2rem;
      margin-bottom: -.75rem;
    }
    .blog-card {
        min-height: 140px;
    }
    .skillsList{
        padding: 0%;
        padding-left: 2%;
        h2{
    
        }
        ul{
            padding: 0;
        }
        li{
            float: left; 
            list-style-type: none;
        }
        li:after {
            content: ", ";
        }
        li:last-child:after {
            content: "";
        }
        li:not(:first-child){
            padding-left: 5%;
        }
    }
    .wrapper > .circle {
        position: absolute;
        border: 3px solid $primaryMid;
        top: 50%;
        margin-top: -100%;
        margin-left: 0%;
        border-radius: 100%;
    }

    #homeTopQuote{
        margin-top: 5%;
    }

    .btn-resume{
        margin-bottom: 5%;
    }
}



// #project-list .nav-link{
 
//     _border-color: $primaryLightGrey;
     
// }
     
// #project-list .nav-link.active {
    
//     _background-color: $primaryLightGrey;
//     _color: white !important;
        
// }

.tab-content{
    background-color: lighten( $primaryLight, 30% );
    width: 101.5%;
}
